/* css styles */

a {
  color: #000000;
}

.navbar-container {
    max-width: 800px;
}

.aa-DetachedContainer--modal {
    max-width: 800px;
}

/*
html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
  
}
*/

